.todolist {
  margin: 7rem 29.375rem;
  border: 2px solid black;
  width: 31.25rem;
}

.pointList {
  margin: 1.5625rem 2.1875rem;
}

.point {
  height: 5rem;
  width: 26rem;
}

.point input {
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 1.75rem;
}

.checkbox {
  font-size: 1.375rem;
}

.inputBox {
  width: 26.875rem!important;
  height: 5rem;
  border-radius: 10px;
}

.todoForm {
  padding-bottom: 1.5rem;
}

input[type="text"] {
    font-size:1.375rem;
}