.todolist {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 31.25rem;
  max-height: 38rem;
}

.pointList {
  margin: 1.5625rem 0.5rem 1.5625rem 2.1875rem;
  max-height: 35rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.point {
  height: 5rem;
  width: 27rem;
  /* padding-right: 1rem; */
}

.point input {
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 1.75rem;
}

.checkbox {
  font-size: 1.375rem;
}

.inputBox {
  width: 26.875rem!important;
  height: 5rem;
  border-radius: 10px;
}

.todoForm {
  padding-bottom: 1.5rem;
}

input[type="text"] {
    font-size:1.375rem;
}